Brotli
certifi
cffi
charset-normalizer
cryptography
gunicorn==22.0.0
idna
jsonpatch
jsonpointer==2.1
packaging
platformdirs
pluggy
pycosat
pycparser
pyOpenSSL
PySocks
requests
setuptools==69.2.0
tqdm
urllib3
wheel==0.41.2
zstandard




