archspec
boltons
Brotli
certifi
cffi
charset-normalizer
conda
conda-libmamba-solver
conda-package-handling
conda_package_streaming
cryptography
distro
gunicorn==22.0.0
idna
jsonpatch
jsonpointer==2.1
libmambapy
menuinst
packaging
platformdirs
pluggy
pycosat
pycparser
pyOpenSSL
PySocks
requests
ruamel.yaml
setuptools==69.2.0
tqdm
truststore
urllib3
wheel==0.41.2
zstandard

